@import './src/variables.scss';

.projects {
  height: 100%;
  background-color: $extra-light-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h5 {
  width: 100%;
  font-size: 1.2em;
  margin-bottom: -10px;
}