.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palette {
  width: 85%;
}

.palette-color {
  height: 75px;
  width: 75px;
}

.five-colors {
  display: flex;
}

.img--close {
  height: 25px;
  width: 25px;
}