@import './src/variables.scss';

.App {
  height: 100vh;
  color: $dark-color;
  background-color: $extra-light-color;
  font-family: $basic-font;
  text-align: center;
}


.EditPaletteModal {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 45%;
  left: 30%;
  position: fixed;
  top: 35%;
  width: 40%;
}