@import './src/variables.scss';

.home {
  height: 100%;
  background-color: $extra-light-color;
}

.color-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.color {
  height: 250px;
  width: 20%;
  color: $extra-light-color;
  font-family: $basic-font;
  font-size: 2.2em;
  border: 2px $dark-color outset;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  &:hover {
    border: 5px $dark-color outset;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.img--padlock {
  height: 25%;
  width: 35%;
}

.random {
  height: 50px;
  width: 250px;
  margin: 20px;
  font-size: 1.5em;
  color: $dark-color;
  font-family: $basic-font;
  border: 2px $dark-color outset;
  border-radius: 5px;
  &:hover {
    background-color: $dark-color;
    color: $extra-light-color;
    border: 4px $dark-color outset;
  }
}

.forms {
  display: flex;
  justify-content: space-around;
}

.p--project-error {
  font-size: 1.5em;
  color: $error-color;
  margin: 5px;
}

form {
  width: 40%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    color: $dark-color;
    font-family: $basic-font;
    font-size: 1.5em;
    border: 2px $dark-color outset;
    border-radius: 5px;
    &:hover {
      background-color: $dark-color;
      color: $extra-light-color;
      border: 4px $dark-color outset;
    }
  }
}

select {
  height: 40px;
  width: 60%;
  font-family: $basic-font;
  font-size: 1em;
  margin-bottom: 20px;
  &:focus {
    outline: 2px $dark-color outset;
  }
}

input {
  height: 40px;
  width: 60%;
  font-family: $basic-font;
  font-size: 1em;
  border-radius: 5px;
  padding-left: 10px;
  &:focus {
    outline: 2px $dark-color outset;
  }
}

h3 {
  font-size: 1.8em;
  margin-top: 0;
}