.color-section {
  display: flex;
  justify-content: center;
}

.color {
  height: 300px;
  width: 150px;
  border: 2px black solid;
  border-radius: 5px;
  margin: 10px;
}

.random {
  height: 40px;
  width: 200px;
  margin-bottom: 50px;
}