@import './src/variables.scss';

header {
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $fancy-font;
}

h1 {
  font-size: 3.2em;
}

.nav-link {
  font-size: 2em;
  text-decoration: none;
  color: $dark-color;
  &:hover {
    color: $highlight-color;
  }
}

.active {
  color: $highlight-color;
  text-decoration: underline;
}