@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap');

$fancy-font: 'Caveat Brush', cursive;
$basic-font: 'Raleway', sans-serif;

$dark-color: #212836;
$error-color: #b00c3b;
$extra-light-color: #dae1f0;
$highlight-color: #1657e0;
